.detailtrip-container {
     width: 50%;
     display: flex;
     flex-direction: column;
     position: relative;
     z-index: 30;
     box-shadow: -10px 1px 10px 8px black;
}
.ant-tag {
     border-radius: 15px !important;
}
.custom-location-icon {
     width: 30px;
     height: 30px;
     position: relative;
     margin-right: 15px;
     .marker-number,
     .marker {
          position: absolute;
          top: 50%; /* position the top  edge of the element at the middle of the parent */
          left: 50%; /* position the left edge of the element at the middle of the parent */
          transform: translate(-50%, -50%);
     }
     .marker {
          z-index: 5;
          color: #3f52e3;
     }
     .marker-number {
          z-index: 10;
          color: #fff;
          top: 12px;
          font-weight: 900;
     }
}
.card-detail-trip {
     &.card-active {
          // border-top: 6px solid #3f52e3;
          border-left: 6px solid #3f52e3;
     }
}
.graduation-text-detail {
     color: var(--text-detail-color);
     word-wrap: break-word;
     font-size: 14px;
     font-weight: 400;
     line-height: 24px;
}
.custom-dropdown-btn {
     width: fit;

     .ant-btn-compact-item.ant-btn.ant-btn-compact-last-item:not(.ant-btn-compact-first-item):not(.ant-btn-compact-item-rtl) {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
          background: #f75940;
          // border: #e9ecef;
          border-top: #f75940;
          border-right: #f75940;
          border-bottom: #f75940;
          color: #fff;

          &:hover,
          &:active {
               background: #de503a;
               // color: #6c757d;
               border-left: #de503a;
          }
     }
     .ant-btn-compact-item.ant-btn.ant-btn-compact-first-item:not(.ant-btn-compact-last-item):not(.ant-btn-compact-item-rtl) {
          border-radius: 20px;
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          background: #f75940;
          border: #f75940;
          color: #fff;
          font-weight: 700;
          &:hover,
          &:active {
               background: #de503a;
               // color: #6c757d;
               border-left: #de503a;
          }
     }
}
.graduation-btn-black {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 8px;
     border-radius: 8px;
     height: 40px;
     min-width: 40px;
     padding: 7px;
     background: #000;
     color: #fff;
     border: #000;
     &:hover,
     &:active {
          background: #000;
          color: #fff;
          border: #000;
     }
}
.custom-btn-menu {
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
     border-right: none;
     font-weight: bold;
     &:active,
     &:hover {
          background: #e9ecef;
          border: #e9ecef;
          color: #6c757d;
     }
}
.mapboxgl-map {
     z-index: 10;
}
.detail-trip-scroll {
     max-height: calc(100vh - 64px);
     overflow: auto;
}
.custom-tag {
     background: var(--light-grey) !important;
     color: var(--dark-grey) Im !important;
     border-color: var(--light-grey) !important;
     font-weight: 700 !important;
     padding: 4px 8px !important;
     font-size: 12px !important;
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;
     height: 20px !important;
     margin-right: 4px !important;
}
.detail-description {
     font-size: 1rem;
     color: #212529;
     font-weight: 400;
     line-height: 1.5;
     text-align: left;
}
.detail-comment {
     color: #6c757d !important;
     font-style: italic;
     text-align: left;
}
