.nav__graduation {
     width: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: var(--z-fixed);
     background-color: var(--first-color);
     height: var(--header-height);
     display: flex;
     justify-content: space-between;
     align-items: center;
     .show-menu {
          right: 0 !important;
     }
     .nav__logo,
     .nav__toggle {
          color: var(--white-color);
     }
     .nav__logo {
          font-weight: var(--font-semi-bold);
     }
     .nav__toggle {
          font-size: 1.2rem;
          cursor: pointer;
     }
     .nav__menu {
          position: relative;
     }
     .nav__list {
          display: flex;
          flex-direction: column;
          row-gap: 2.5rem;
     }
     .nav__link {
          color: var(--text-color-light);
          font-weight: var(--font-semi-bold);
          text-transform: uppercase;
          &:hover {
               color: var(--text-color);
          }
     }
     .nav__close {
          position: absolute;
          top: 0.75rem;
          right: 1rem;
          font-size: 1.5rem;
     }
}

@media screen and (max-width: 767px) {
     .nav__graduation {
          .nav__menu {
               position: fixed;
               background-color: var(--body-color);
               top: 0;
               right: -100%;
               width: 70%;
               height: 100%;
               box-shadow: -1px 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
               padding: 3rem;
               transition: 0.4s;
          }
     }
}
