.custom-input-container {
     .custom-input-title {
          font-size: 12px;
          font-weight: 700;
          color: var(--text-secondary-color);
     }
}
.custom-input-title {
     font-size: 12px;
     font-weight: 700;
     color: var(--text-secondary-color);
}
